<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bpmn-glsp -->
      <package
            uri="http://www.openbpmn.org/bpmn/glsp"
            class="org.openbpmn.glsp.bpmn.BpmnPackage"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bpmn-glsp -->
      <package
            uri="http://www.eclipse.org/glsp/graph"
            class="org.eclipse.glsp.graph.GraphPackage"/>
   </extension>

</plugin>
