<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BPMN20 -->
      <package
            uri="http://www.omg.org/spec/BPMN/20100501/BPMN20.xsd"
            class="org.imixs.bpmn2.Bpmn2Package"
            genModel="model/BPMN20.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated BPMN20 -->
      <parser
            type="bpmn2"
            class="org.imixs.bpmn2.util.Bpmn2ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BPMN20 -->
      <package
            uri="http://www.eclipse.org/glsp/graph"
            class="org.eclipse.glsp.graph.GraphPackage"
            genModel="model/BPMN20.genmodel"/>
   </extension>

</plugin>
