
### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders


### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar


.temp

*.log

## Web ##

node_modules
node_modules/.yarn-integrity
.browser_modules
tsconfig.tsbuildinfo
# yarn.lock - no good idea
lib

*.log

**/*-app/**
!**/*-app/package.json
!**/*-app/README.md


