/*
 * Customize Maven Site Layout
 */


.maven-content section {
	display: block;
	margin: 0;
	padding: 0;
}


.maven-content p {
    color: #333;
}
.maven-content .source {
  background: #EEE;
  padding: 0;
  margin: 0;
  
}

.maven-content .source pre {
    padding: 10px 15px;
}

.maven-content table.bodyTable th,.maven-content table.bodyTable td {
    border-bottom: 1px solid #ccc;
}



.maven-content ul {
	list-style: disc;
	color: #333;
}
.maven-content li {
    margin: 0 ;
    display: list-item;
    margin-left: 30px;
}

.maven-content .screenshot {
	max-width: 720px;
	object-fit: cover;
	padding: 3px;
	box-shadow: 4px 8px 8px #ddd;
}
/* Maven Nav */
.col-nav h5 {
	font-size: 1.0em;
}
.col-nav li {
	margin: 0 0px 10px 15px;
	display: list-item;
	color: #FCB802;
	border-bottom: 1px solid  transparent;
	border-top: 1px solid  transparent;
}
.col-nav  a { 
	color: #333;
}
.col-nav li>ul>li:hover {
	border-bottom: 1px solid  #FCB802;
	border-top: 1px solid  #FCB802;
}
.col-nav div.selected {
	font-weight: bold;
}
.col-nav li.collapsed {
	list-style: disclosure-closed;
}

.col-nav li.collapsed:hover {
	border-bottom: 1px solid  #FCB802;
	border-top: 1px solid  #FCB802;
}

.col-nav li.expanded {
	list-style: disclosure-open;
	margin-bottom: 0px;
}
.col-nav li.none {
	list-style: disc;
	margin-top: 5px;
}

.col-nav li.none:hover {
	border-bottom: 1px solid  #FCB802;
	border-top: 1px solid  #FCB802;
}











#bannerLeft, #bannerRight {
  font-size: xx-large;
  font-weight: bold;
}
#bannerLeft img, #bannerRight img {
  margin: 0px;
}
.xleft, #bannerLeft img {
  float:left;
}
.xright, #bannerRight {
  float:right;
}
#banner {
  padding: 0px;
}
#breadcrumbs {
  padding: 3px 10px 3px 10px;
}
#leftColumn {
 width: 170px;
 float:left;
 overflow: auto;
}
#bodyColumn {
  margin-right: 1.5em;
  margin-left: 197px;
}
#legend {
  padding: 8px 0 8px 0;
}
#navcolumn {
  padding: 8px 4px 0 8px;
}
#navcolumn h5 {
  margin: 0;
  padding: 0;
  font-size: small;
}
#navcolumn ul {
  margin: 0;
  padding: 0;
  font-size: small;
}
#navcolumn li {
  list-style-type: none;
  background-image: none;
  background-repeat: no-repeat;
  background-position: 0 0.4em;
  padding-left: 16px;
  list-style-position: outside;
  line-height: 1.2em;
  font-size: smaller;
}
#navcolumn li.expanded {
  background-image: url(../images/expanded.gif);
}
#navcolumn li.collapsed {
  background-image: url(../images/collapsed.gif);
}
#navcolumn li.none {
  text-indent: -1em;
  margin-left: 1em;
}
#poweredBy {
  text-align: center;
}
#navcolumn img {
  margin-top: 10px;
  margin-bottom: 3px;
}
#poweredBy img {
  display:block;
  margin: 20px 0 20px 17px;
}
#search img {
    margin: 0px;
    display: block;
}
#search #q, #search #btnG {
    border: 1px solid #999;
    margin-bottom:10px;
}
#search form {
    margin: 0px;
}
#lastPublished {
  font-size: x-small;
}
.navSection {
  margin-bottom: 2px;
  padding: 8px;
}
.navSectionHead {
  font-weight: bold;
  font-size: x-small;
}
.section {
  padding: 4px;
}

#footer {
  padding: 3px 10px 3px 10px;
  font-size: x-small;
}
#breadcrumbs {
  font-size: x-small;
  margin: 0pt;
}

#navcolumn img.imageLink, .imageLink {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-top: 0px;
  padding-right: 2px;
  border: 0px;
  margin: 0px;
}










