# ignore all bin directories
# matches "bin" in any subfolder
bin/

# ignore all target directories
target/

# ignore all files ending with ~
*~ 

# ignore eclipse directories and project files
.settings/
.project
.classpath

### junit test resoruces ###
src/test/resources/create-*
src/test/resources/update-*
src/test/resources/delete-*
src/test/resources/output/*.bpmn
