<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BPMN20 -->
      <package
            uri="http://www.omg.org/spec/BPMN/20100524/MODEL-XMI"
            class="org.eclipse.bpmn2.Bpmn2Package"
            genModel="model/old/BPMN20.genmodel"/>
   </extension>
   
   <extension point="org.eclipse.emf.ecore.generated_package">
	<package 
			uri="http://www.omg.org/spec/BPMN/20100524/MODEL"
			class="org.eclipse.bpmn2.Bpmn2Package"
			genModel="model/old/BPMN20.genmodel"/>
	</extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated BPMN20 -->
      <parser
            type="bpmn2"
            class="org.eclipse.bpmn2.util.Bpmn2ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BPMN20 -->
      <package
            uri="http://www.omg.org/spec/BPMN/20100524/DI-XMI"
            class="org.eclipse.bpmn2.di.BpmnDiPackage"
            genModel="model/old/BPMN20.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated BPMN20 -->
      <parser
            type="bpmndi"
            class="org.eclipse.bpmn2.di.util.BpmnDiResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BPMN20 -->
      <package
            uri="http://www.omg.org/spec/DD/20100524/DI-XMI"
            class="org.eclipse.dd.di.DiPackage"
            genModel="model/old/BPMN20.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated BPMN20 -->
      <parser
            type="di"
            class="org.eclipse.dd.di.util.DiResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BPMN20 -->
      <package
            uri="http://www.omg.org/spec/DD/20100524/DC-XMI"
            class="org.eclipse.dd.dc.DcPackage"
            genModel="model/old/BPMN20.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser">
      <!-- @generated BPMN20 -->
      <parser
            type="dc"
            class="org.eclipse.dd.dc.util.DcResourceFactoryImpl"/>
   </extension>

null
null
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bpmn2 -->
      <package
            uri="http://www.omg.org/spec/BPMN/20100524/MODEL"
            class="org.openbpmn.bpmn2.Bpmn2Package"
            genModel="model/BPMN2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BPMN2 -->
      <package
            uri="http://www.omg.org/spec/BPMN/20100501/DI-XMI"
            class="org.openbpmn.bpmndi.BpmndiPackage"
            genModel="model/BPMN2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.content_parser">
      <!-- @generated bpmn2 -->
      <parser
            contentTypeIdentifier="bpmn"
            class="org.openbpmn.bpmn2.util.Bpmn2ResourceFactoryImpl"/>
   </extension>

   <extension point="org.eclipse.core.contenttype.contentTypes">
      <!-- @generated bpmn2 -->
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            file-extensions="bpmn2"
            id="bpmn"
            name="%_UI_Bpmn2_content_type"
            priority="normal">
         <describer class="org.eclipse.emf.ecore.xmi.impl.RootXMLContentHandlerImpl$Describer">
            <parameter name="namespace" value="http://www.omg.org/spec/BPMN/20100524/MODEL"/>
         </describer>
      </content-type>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BPMNDI -->
      <package
            uri="http://www.omg.org/spec/BPMN/20100501/DI-XMI"
            class="org.openbpmn.di.DiPackage"
            genModel="model/BPMNDI.genmodel"/>
   </extension>

null
null
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BPMNDI -->
      <package
            uri="http://www.omg.org/spec/DD/20100524/DI-XMI"
            class="org.openbpmn.di.DiPackage"
            genModel="model/BPMNDI.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated BPMNDI -->
      <package
            uri="http://www.omg.org/spec/DD/20100524/DC-XMI"
            class="org.openbpmn.dc.DcPackage"
            genModel="model/BPMNDI.genmodel"/>
   </extension>
null</plugin>
