<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
  Copyright (c) 2019-2020 EclipseSource and others.
 
  This program and the accompanying materials are made available under the
  terms of the Eclipse Public License v. 2.0 which is available at
  https://www.eclipse.org/legal/epl-2.0.
 
  This Source Code may also be made available under the following Secondary
  Licenses when the conditions for such availability set forth in the Eclipse
  Public License v. 2.0 are satisfied: GNU General Public License, version 2
  with the GNU Classpath Exception which is available at
  https://www.gnu.org/software/classpath/license.html.
  SPDX-License-Identifier: EPL-2.0 OR GPL-2.0 WITH Classpath-exception-2.0
  
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated workflow-graph -->
      <package
            uri="http://www.eclipse.org/glsp/examples/workflow/graph"
            class="org.eclipse.glsp.example.workflow.wfgraph.WfgraphPackage"
            genModel="model/workflow-graph.genmodel"/>
   </extension>

  

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bpmn2 -->
      <package
            uri="http://www.eclipse.org/glsp/bpmn2"
            class="org.imixs.emfcloud.bpmn2.model.bpmn2.Bpmn2Package"
            genModel="model/bpmn2.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated bpmn2 -->
      <package
            uri="http://www.eclipse.org/glsp/graph"
            class="org.eclipse.glsp.graph.GraphPackage"
            genModel="model/bpmn2.genmodel"/>
   </extension>
</plugin>